<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chiaraercolani.treasurehunt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".StartMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnBuildingHuntActivity"
            android:parentActivityName=".StartMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chiaraercolani.treasurehunt.StartMenuActivity" />
        </activity>
        <activity
            android:name=".JoinHuntActivity"
            android:parentActivityName=".StartMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chiaraercolani.treasurehunt.StartMenuActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".StartMenuActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chiaraercolani.treasurehunt.StartMenuActivity" />
        </activity>
        <activity android:name=".CreateHuntActivity"
            android:parentActivityName=".OnBuildingHuntActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chiaraercolani.treasurehunt.OnBuildingHuntActivity" />>

        </activity>
    </application>

</manifest>